{% extends 'base.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block body %}
    <h1>Groupe</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>Id</th>
                <td>{{ groupe.id }}</td>
            </tr>
            <tr>
                <td>String</th>
                <td>{{ groupe.string }}</td>
            </tr>
            <tr>
              <td>Users</td>
              <td>
                {% for user in groupe.users %}
                  {{user.name}}<br />
                  {{user.spending}}<br />
                {% endfor %}
              </td>
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('groupe_index') }}">Retour à la liste</a>

    <a class="btn btn-danger" href="{{ path('groupe_edit', {'id': groupe.id}) }}">Modifié</a>

    {{ include('groupe/_delete_form.html.twig') }}
{% endblock %}
